
/*-------ACHIEVEMENT-CONTAINER--------*/

.fldrBox {
    margin-top: 90px;
    padding: 2% !important;
}

.tskEl {
    height: 70px;
    padding-top: 5px;
    border-bottom: 2px solid rgba(0,0,0,.1);
    background-color: rgba(255, 255, 255, .5);
}

.achText {
    font-size: 14px !important;
    color: #6A9191;
}

