/*Index CSS*/

/*-------FOLDERS-CONTAINER--------*/


.fldr {
    display: inline-block;
    float: left;
    background-color: #f2f2f2;
    height: 130px;
    border: 2px solid rgba(153, 153, 153, .2);
    border-radius: 10px;
    margin: 10px 5px 0 5px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, .05);
    
}

.fldr:hover {
    background-color: rgba(100, 99, 102, .8);
    border: 2.5px solid #fff;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, .5);
    
}
