/*Index CSS*/


/*-------BANNER--------*/

.bnnr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px !important;
    background-color: cornflowerblue;
    vertical-align: middle;
}

.bnnrEl1 {
    margin-top: 15px;
    margin-left: 15px;
}

.bnnrEl2 {
    margin-top: 50px;
}

.bnnrEl3 {
    margin-top: 15px;
    padding-right: 15px;
}

.elAchieve {
    margin-top: 15px;
    border-radius: 100px;
    float: left;
}

.new {
    margin-top: 15px;
    border-radius: 100px;
    float: right;
}

/*-------FOLDERS-CONTAINER--------*/

.fldrBox {
    margin-top: 90px;
}

.fldCont {
    margin: auto;
    overflow-y: hidden;
    margin-top: 10px;
}

.midFld {
    margin-left: 10px;
    margin-right: 10px;
}

.fldr {
    display: inline-block;
    background-color: aqua;
    height: 130px;
    border-radius: 10px;
    margin-top: 10px;
}
