/*Index CSS*/

@font-face { font-family: Ubuntu; font-weight: medium; src: url('../fonts/ubuntu/Ubuntu-M.ttf');}

/*-------LOGO--------*/

.bgimg {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 18%;
    margin-bottom: 7%;
}

.img-responsive {
    max-width: 85% !important;
}


/*-------REPLACE_CONTENTS--------*/

input {
    text-align: center;
}

.replaceBtns {
    display: block;
    margin-top: 72% !important;
}

.replaceLogin {
    display: block;
    margin-top: 42% !important; 
}

.replaceSignUp {
    display: block;
    margin-top: 28%;
    margin-bottom: 12%;
}

/*-------BTNS--------*/

.mBtns {
    width: 85%;
    height: 45px;
    margin-bottom: 5%;
    font-family: Ubuntu;
    
}

.mRepBtn {
    width: 85%;
    height: 35px;
    margin-bottom: 5%;
}

/*-------INPTS--------*/
.repInpt {
    width: 85%;
    height: 35px;
    margin-bottom: 4%;
}
