/*Index CSS*/

/*-------FOLDER NAME CONTAINER--------*/
.section {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 15px 12px 15px;x
    border-bottom: 2px solid rgba(0,0,0,.1);
    background-color: rgba(255, 255, 255, .5);
    margin-bottom: 8px;
}

.fldrTitle {
    display: inherit;
    margin-bottom: 10px;
    color: #6a9191;
    font-family: Ubuntu;
    font-style:normal;
    font-size: medium;
}

.cont {
    display: inherit;
    margin: 15px;
    width: 100%;
}

.cont1 {
    display: inherit;
    margin: auto;
    width: 100%;
    height: 62px;
}

.fldrInput {
    width: 100%;
    margin: auto;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom-color: rgba(106, 145, 145, .5);
    color: #6a9191;
    background-color: rgba(255, 255, 255, 0);
    font-family: Ubuntu;
    font-style: normal;
    font-size: 1.2em;
}

.clrBox {
    display: inline-block;
    width: 35px;
    height: 45px;
    border-radius: 5px;
    margin-right: 10px;
}

.clrBox:hover {
    width: 38px;
    height: 48px;
    border: 2px solid rgba(120, 120, 120, .5);
    box-shadow: 0px 0px 4px rgba(232, 237, 236, .9);
}

.color1 {
    background-color: #99cccc;
}

.color2 {
    background-color: #e55ea8;
}

.color3 {
    background-color: #ffcc66;
}

.color4 {
    background-color: #6699ff;
}

.color5 {
    background-color: #40BC66;
}

.iconBox {
    display: inline-block;
    width: 52px;
    height: 62px;
    border-radius: 5px;
    margin-right: 8px;
    background-color: #7d9cac;
}

.iconBox:hover {
    width: 54px;
    height: 64px;
    border: 2px solid rgba(120, 120, 120, .5);
    box-shadow: 0px 0px 4px rgba(232, 237, 236, .9);
}

.btnCont {
    position: fixed;
    z-index: 10;
    width: 85%;
    height: 45px;
    bottom: 17px;
    left: 8px;
    width: 95%;
}

.mBtns {
    width: 90%;
    height: 45px;
}