/*Index CSS*/

@font-face { font-family: Ubuntu; font-weight: medium; src: url('../fonts/ubuntu/Ubuntu-M.ttf');}
@font-face { font-family: Ubuntu; font-weight: bold; src: url('../fonts/ubuntu/Ubuntu-B.ttf');}

body {
    font-family: Ubuntu;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(125, 156, 172, .5), rgba(163, 154, 171, .5));
}

/*-------BANNER--------*/

.bnnr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    vertical-align: middle; 
    background-image: linear-gradient(90deg, #7d9cac, #a39ab5);
}

.bnnrEl1 {
    margin-top: 45px;
    padding-left: 15px;
}

.bnnrEl2 {
    margin-top: 50px;
    text-align: center;
}

.mHeader {
    display: block;
    text-align: center;
    margin: auto;
    color: #e8edec;
    font-family: Ubuntu;
    font-style:normal;
    font-size: large;
}

.bnnrEl3 {
    margin-top: 15px;
    padding-right: 15px;
}

.elBtns {
    margin: 12.5px 2.5px;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, .05);
    border: 2px solid rgba(255, 255, 255, .6);
}

/*.elBtns:hover {
    box-shadow: 0px 0px 3px rgba(128, 128, 128, .5);
    border: 2px solid rgba(255, 255, 255, .9);
}*/

/*-------FOLDER NAME CONTAINER--------*/

.contentBox {
    width: 100%;
    height: 100%;
    margin-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
}

.fldrText {
    margin-top: 30px;
    margin-bottom: 5px;
    color: #e8edec;
    font-family: Ubuntu;
    font-style:normal;
    font-size: medium;
}

.fldrCont1 {
    background: #e8edec;
    padding: 15px 20px 10px 20px;
}

.fldrCont2 {
    padding: 5px 20px 0 20px;
}

.fldrCont3 {
    display: block;
    height: 65px;
    padding: 2px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fldrInput {
    margin: auto;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom-color: rgba(106, 145, 145, .5);
    color: #6a9191;
    background-color: #e8edec;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 1.2em;
}

.clrBox {
    width: 45px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.clrBox:hover {
    width: 43px;
    height: 58px;
    border: 2px solid rgba(120, 120, 120, .5);
    box-shadow: 0px 0px 4px rgba(232, 237, 236, .9);
}

.color1 {
    background-color: #99cccc;
}

.color2 {
    background-color: #e55ea8;
}

.color3 {
    background-color: #ffcc66;
}

.color4 {
    background-color: #6699ff;
}

.color5 {
    background-color: #e5fefe;
}

.fLogo {
    background-color: #7d9cac;
}

.btnCont {
    position: fixed;
    width: 85%;
    height: 45px;
    bottom: 17px;
    left: 8px;
    width: 95%;
}

.mBtns {
    width: 90%;
    height: 45px;
}