*Index CSS*/

/*-------TIMER-CONTAINER--------*/

.contentBox {
    width: 100%;
    height: 100%;
    margin-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
}

.catCont {
    display: block;
    margin: auto;
    margin-bottom: 4px;
    padding: 5px 10px 2.5px 10px;
    vertical-align: middle;
    border-bottom: 2px solid rgba(0,0,0,.1);
    background-color: #f2f2f2;
}

.twrly {
    padding: 2.5px !important;
    width: 30px;
    float: right;
    padding: 3px;
    border-radius: 100px;
    border-color: rgba(156, 203,219, .6);
    box-shadow: 0px 0px 3px rgba(128, 128, 128, .5);
}

.iFramStyle {
    width: 100%;
    border: 2px solid rgba(100, 100, 100, .3);
}

.btnCont {
    position: fixed;
    width: 78%;
    height: 45px;
    bottom: 17px;
    left: 11%;
}

.mBtns {
    width: 90%;
    height: 45px;
}

.headers {
    display: block;
    margin-bottom: 3px;
}

.tskInput1 {
    width: 66%;
    margin: 5px 15px;
    margin-right: 3%;
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom-color: rgba(106, 145, 145, .5);
    color: #6a9191;
    background-color: rgba(255, 255, 255, 0);
    font-style: normal;
    font-size: 1.2em;
}
